div { 
    margin-left:300px;
    margin-right: 300px;
    margin-bottom: 20px;

}
img {
    margin-bottom: 50px;
}
h2 {
    margin-left:300px;
    margin-bottom: 20px;
}
h3{
    margin-left:300px;
    margin-bottom: 20px;
    
}
body {
    background-color: lightblue;
  }
